body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    /*overflow: hidden; /* Prevent scrollbars on video overflow */
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* This sets the aspect ratio to 16:9 (768 / 1366 * 100) */
    overflow: hidden;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Header Animation */
header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    position: absolute;
    bottom: 25%;
    right: -300px; /* Initial position off-screen */
    color: #fffe;
    animation: slideIn 2s forwards 2s; /* Animation duration, fill-mode, and delay */
}

@keyframes slideIn {
    to {
        right: 10%; /* Final position */
    }
}

.logo {
    display: flex;
    padding-right: 2px;

}

.logo img {
    width: 150px;
    margin-left:10px;
    padding-top:1;
}

nav {
    display: flex;
    position: absolute;
    right: 1%;
    width: 100%;

    /*z-index: 2;*/
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    background: transparent;
    padding-left:430px;
    margin-top:55px;
}

nav ul li {

    margin: 0 16px;

}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #00FFFF;
    text-decoration: underline;
    font-size: 16px;
}




footer {
    background-color: #090913;
    bottom: 50px;
    width: 100%;
    text-align: center;
    color: #fff
}

footer p {
    padding-bottom:10px;
    font-size:14px;
    color: #fff;
}

.icons {
    display: flex;
    justify-content: center;

}
footer img{
    height: 30px;
    width: 100%;
}

.icons a {
    margin: 0 5px;

}


/* Styles for the About Me section */

#about {
    background-color: #090913;
    color: #fff;
    padding: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

#about h2, #about .description, #about .introduction img, #about .introduction p {
    opacity: 0; /* Set initial opacity to 0 for fading animation */
}

#about h2, #about .description, #about .introduction img {
    transform: translateX(-20px); /* Initial position off-screen to the left for sliding animation */
    animation: fadeInAndSlideLeft 0.5s forwards 0.5s; /* Animation duration, fill-mode, and delay */
}

#about .introduction {
    display: flex;
    flex-direction: row;
    margin-top:10px;
}

#about .introduction p {
    flex: 1;
    opacity: 0; /* Set initial opacity to 0 for fading animation */
    transform: translateX(20px); /* Initial position off-screen to the right for sliding animation */
    animation: fadeInAndSlideRight 0.5s forwards 0.5s; /* Animation duration, fill-mode, and delay */
    margin-left: 100px;
    margin-top: 0px;
    letter-spacing: 2px;
    line-height: 1.5;
    word-spacing: 3px;
    text-align: justify;
}

#about .introduction img {
    width: 45%;
    height: 1;
    transform: translateX(-20px);
    animation: fadeInAndSlideLeft 0.5s forwards 0.5s;
}

/* Animation Keyframes */
@keyframes fadeInAndSlideLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInAndSlideRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about-me-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #fff, #fff 50%, transparent 50%, transparent);
}


/*  --------  CSS for Achievements section ---------*/
#achievements {
    background-color: #090913;
    color: #fff;
    padding: 100px;
    padding-top: 1px;
    text-align: left;
}

.achievement-cards {
    display: flex;
    flex-wrap: wrap;
}

.achievement-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 25px;
    margin-right: 40px;
    overflow: hidden;
    width: 300px;
    background-color: #000;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.achievement-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.achievement-details {
    padding: 10px;
    padding-top: 1px;
}

.achievement-details h3 {
    margin-bottom: 10px;
    color: #00FFFF;
}

.achievement-details p {
    color: #FFFF;
}

/* ----------projects.html------------ */

.project {
    background-color: #090913;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    overflow: hidden;
}

header h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 4px;
    text-align: center;
    position: absolute;
    bottom: 25%;
    right: -300px; /* Initial position off-screen */
    color: #fffe;
    animation: slideInn 1s forwards 0.5s; /* Animation duration, fill-mode, and delay */
}

@keyframes slideInn {
  0% {
    transform: translateX(100%);
    left: 100%;
  }
  100% {
    transform: translateX(-50%);
    left: 50%;
  }
}

/* Apply the animation to the element */
.slide-inn {
  animation: slideInn 5s ease; /* Adjust the duration and timing function as needed */
}

/* Apply styles to keep the content centered after the animation */
.slide-inn.finished {
  animation: none; /* Disable the animation once it's finished */
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}



.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #090913;
    overflow: hidden;
}

.projects {
    width: 100%;
    margin: 10px;
    overflow: hidden;
    display:flex;
    flex-direction:row;
}


.project-details,
.project-image {
    width: 50%;
    margin-bottom: 150px;
    padding:20px;
}

.project-details h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:#fff;
}
.project-details p {
    font-size: 14px;
    margin-bottom: 10px;
    color:#fff;
    letter-spacing: 1px;
    line-height: 1.5;
    word-spacing: 2px;
}

.project-image img {
    width: 100%;
    height: auto;
}

.project-image:hover img {
    transform: scale(1.2);
}

.project-details .technologies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.project-details .technologies .tech-mark {
    background-color: #03FDC4;
    color: #000;
    border-radius: 20px;
    padding: 3px 8px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.project-details .project-button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 15px 25px;
    border-radius: 0 0 10px 0;
    text-decoration: none;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;
    font-size: 18px;
}

.project-details .project-button:hover {
    transform: scale(1.1);
}


.project-details .project-button::after {
    content: '\2192';
    margin-left: 10px;
}

.project-name-line {
    height: 2px;
    background: linear-gradient(to right, #007BFF 30%, rgba(255, 255, 255, 0) 70%);
}


.skills-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #090913;
    overflow: hidden;
    color:#fff;
    padding-bottom: 100px
}


.radar-chart {
    max-width: 600px;
    margin: 0 auto;
}




/* Datasets container */
.datasets-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #090913;
    color:#fff;
}

/* Dataset card styles */
.dataset-card {
    width: calc(33.33% - 20px);
    margin-bottom: 100px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;

    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.5);
    transition: 0.3s;

}

.dataset-card:hover {
    box-shadow: 0 8px 16px 0 cyan;
}



.dataset-image img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ccc;
}

/* Dataset details styles */
.dataset-details {

    float: left;
    padding: 20px;
}

.dataset-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #00ffff;
}

.dataset-details p {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 15px;
}

.datasets-info {
    display:flex;
    position: relative;
    background-color: #090913;

}

.dataset-line {
    position: absolute;
    height: 2px;
    width:80%;
    margin-left:20px;
    background: linear-gradient(to right, #007BFF 30%, rgba(255, 255, 255, 0) 70%);

}

.datasets-info p {
    padding: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    background-color: #090913;
}



/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}


.resume-container {
    display: flex;
    justify-content: center;
    background-color: #090913;
}


iframe {
    width: 80%;
    height: 800px;
    border: 3px solid #fff;
    margin-bottom:60px;
}


/* CSS styles */

.container {
    display: flex;
    justify-content: center;
    background-color: #090913;
}


form {
    margin-bottom: 20px;
    text-align: left;
    width : 50%;
}

.form-group{
    margin-bottom: 20px;
    margin-top: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 0 0 5px 0 ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.flash-messages {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            color: #333;
}

/* Mobile Styles */

@media only screen and (max-width: 768px) {

.logo img {
    margin-left:0;
    padding-top:1;
}

.menu-toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 1000;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-open .bar:first-child {
    transform: rotate(45deg) translate(2px, 2px);
}

.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-open .bar:last-child {
    transform: rotate(-45deg) translate(1px, -1px);
}


/* Initially hide the menu items */
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        padding: 20px;
        width:90%;
        border-radius: 5px;
        text-align:center;

    }


    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;

    }

    .nav-menu a {
        color: #fff;

    }


    .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    header h1 {
    text-align: center;
    position: absolute;
    bottom: 50%;
    right: -300px;
    color: #fffe;
    animation: slideIn 2s forwards 2s;
}

@keyframes slideIn {
    to {
        right: 13%;
    }
}

#about {
    padding: 50px;
    padding-top: 5px;
    padding-left:20px;
    padding-right:20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#about .introduction {
    display: flex;
    flex-direction: column;
    margin-top:10px;
}

#about .introduction p {
    margin-left: 10px;
    letter-spacing: 2px;
    line-height: 1.5;
    word-spacing: 3px;
    text-align: left;

}

#about .introduction img {
    width: 100%;
    padding-bottom:10px;
    }


#achievements {
    padding: 50px;
    padding-top: 1px;
    text-align: left;
}

.achievement-cards {
    display: flex;
    align:center;

}

.achievement-card {
    margin-top: 25px;
    overflow: hidden;
    width: 600px;

}

.projects-section {
    padding-top: 85%;
    display:flex;
    flex-direction:column;
}

header{
    height: 100px;
    z-index:1000;
}

.projects{
    flex-direction:column;

}

.project-details,
.project-image {
    width: 100%;
    margin-bottom: 50px;
    padding:0;

}


.project-details .technologies .tech-mark {
    font-size: 14px;
}

header h2{
    top : 40%;
}


.project {
    height: 300%;
}

.datasets-content {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.dataset-card {
    width: 90%;
    margin-bottom: 100px;
    margin-left:20px;
}

.skills-section{
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px
}

.radar-chart {
    margin-bottom:40px;

}

iframe {

    height: 600px;
}


.flash-messages {
        width:60%;
}



}


